.app{
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
    flex-wrap: wrap;
}

.app__descricao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

.app__descricao h3{
    font-size: 36px;
    font-weight: 600;
    color: #57345E;
    margin: 0;
}

.app__descricao p{
    color: rgb(12, 12, 12);
}

.app__descricao_btn{
    padding: 0.6rem;
    background-color: #272169;
    color: #ffff;
    width: 120px;
    text-align: center;
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    .app img{
        width: 520px;
    }
    .app__descricao{
        text-align: center;
        align-items: center;
    }
    
}

