.footer__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #000000;
    padding: 4rem;
}

.footer__desc p{
    color: #ffffffd0;
    font-size: 15px;
}

.footer__links > ul > h5{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.footer__links > ul > li{
    margin-top: 1rem;
}

.footer__links > ul > li > a {
    color: #fff;
    text-decoration: none;
}

.footer__links > ul > li > a:hover{
    color: #B04286;
}

@media screen and (max-width: 767px) {
    footer{
        margin-top: 2rem;
        gap: 4rem;
    }
    footer{
        flex-wrap: wrap-reverse;
    }
}
