.heroSection {
    z-index: 99s;
    background-image: url('../../assets/images/bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajuste conforme necessário */
    width: 100%; /* Ajuste conforme necessário */

}
