/* src/components/PartnerSlider.css */
.partner-slider .slide {
    padding: 10px;
  }
  
.partner-slider img {
    width: 100%;
    display: block;
}

.partner-slider h2{
    text-align: center;
    border-bottom: 2px solid #BF5697;
    display: inline-block;
}

.slide {
    margin: 0 10px; /* Ajuste esse valor para diminuir o espaçamento */
}
  

.slide img{
    width: 220px
;}

.Slide-marcas .slick-slide {
    padding: 0; /* Remove qualquer padding que possa estar aumentando o espaço */
}



@media(width < 720px) {
   .partner-slider h2{
        padding-top: 1rem;
   }

   @media(width < 720px) {
    .slide img{
        padding-left: 2rem;

    ;}
 }
}

