/* src/components/PartnerSlider.css */
.partner-slider .slide {
    padding: 10px;
  }
  
.partner-slider img {
    width: 100%;
    display: block;
}

.partner-slider h2{
    text-align: center;
    border-bottom: 2px solid #BF5697;
    display: inline-block;
    font-weight: 600;
    color: #555254;
}

.slide {
    margin: 0 10px; /* Ajuste esse valor para diminuir o espaçamento */
}
  

.slide img{
    width: 220px;
    cursor: pointer;
    transition: .3s ease-in
;}

.slide img:hover{
    transform: scale(1.4);
}


.Slide-marcas .slick-slide {
    padding: 0; /* Remove qualquer padding que possa estar aumentando o espaço */
}



@media(width < 720px) {
  

   @media(width < 720px) {
    .slide img{
        width: 130px;

    ;}

    .partner-slider h2{
      margin-top: 1.2rem;
      width: 100%;
      border-bottom: none;
    }
    
 }
}

